<br/>
<div class="jumbotron">
  <h1>NewsFlow</h1>
  <p>NewsFlow is an app for sharing links with others.</p>
  <p>
    <%= link_to "Sign In", new_user_session_path, class: 'btn btn-primary' %>
    <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary' %>
  </p>
</div>

<div class="row">
  <div class="col-md-8">
    <h2>Helped me learn Rails...</h2>
    <p>NewsFlow taught me how to make my very 1st production-quality app.</p>
  </div>

  <div class="col-md-8">
    <h2>Shows what I can build...</h2>
    <p>NewsFlow is an example of the full-stack developer skills I'll bring to your team.</p>
  </div>

</div>