<% if policy(Vote.new).create? %>  
  <div class='pull-left vote-arrows'>
    <div> <%= link_to "x", post_up_vote_path(post), class: 'glyphicon glyphicon-cheveron-up', method: :post %> </div>
    <div><strong> <%= post.points %>  </strong></div>
    <div> <%= link_to "x", post_down_vote_path(post), class: 'glyphicon glyphicon-cheveron-down', method: :post %> </div>
  </div>
<% end %>